body{
    background-color: #eee;
}

form{
    max-width: 200px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
}

input{
    display: block;
    margin: 5px auto;
    padding: 10px;
}