button{
    display: block;
    margin: 20px auto;
    background-color: crimson;
    color: white;
    border: 0;
    padding: 6px 10px;

}

.wrapper{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mio{
    height: 70px;
    width: 70px;
    background-color:#990000 ;
}