body{
    background-color: #eee;
}

form{
    max-width: 200px;
    margin: 40px auto;
    background-color: white;
    padding: 10px;
}

input{
    display: block;
    margin: 5px auto;
    padding: 10px;
}

.success{
    border: 5px solid lime;
}
.error{
    border: 5px solid red;
}
h2{
    display: block;
    font-weight: bold;
    font-size: 20px;

}

h2{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    margin: 50px auto;
}

